.app {
	text-align: center;
	direction: rtl;
	display: grid;
	place-items: center;
	height: 100vh;
}

p {
	font-size: 18px;
	padding: 1rem;
}

.main {
	background-color: #202020;
	padding: 2rem;
	padding-bottom: 1rem;
	width: 40vw;
	max-width: 400px;
	border-radius: 12px;
	box-shadow: 0 6px 10px 6px rgba(#202020, 0.3);
}

button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #1ab188;
	color: white;
	transition: all 0.5s ease;
}

.shareButton {
	padding: 6px;
	font-size: 1.1rem;
}

@media (hover: hover) {
	button:hover {
		cursor: pointer;
		filter: brightness(0.8);
	}
}

@media (hover: none) {
	button:focus {
		cursor: pointer;
		filter: brightness(0.8);
	}
}
